<style type="text/css">

.container1 {
    width: 89%!important;
    margin-left: 5%;
    margin-right: 5%;
}

.card1 {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.image-container1 {
    position: relative
}

.thumbnail-image1 {
    border-radius: 10px !important
}

.discount1 {
    background-color: #F80032;
    /* padding-top: 1px; */
    /* padding-bottom: 1px; */
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    font-size: 17px;
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    border-radius: 50px;
        padding-top: 12px;
}

.wishlist1 {
        height: 25px;
    width: 25px;
    /* background-color: #eee; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.first1 {
    position: absolute;
    width: 100%;
    padding: 9px
}

.dress-name1 {
    font-size: 13px;
    width: 75%
    text-align: center;
}

.new-price1 {
    font-size: 13px;
    font-weight: bold;
    color: #0086FF
}

.old-price1 {
    font-size: 13px;
    font-weight: bold;
    color: grey
}

.btn1 {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 3px;
    position: inherit;
}

.creme1 {
    background-color: #fff;
    border: 2px solid grey
}

.creme1:hover {
    border: 3px solid grey
}

.creme1:focus {
    background-color: grey
}

.red1 {
    background-color: #fff;
    border: 2px solid red
}

.red1:hover {
    border: 3px solid red
}

.red1:focus {
    background-color: red
}

.blue1 {
    background-color: #fff;
    border: 2px solid #40C4FF
}

.blue1:hover {
    border: 3px solid #40C4FF
}

.blue1:focus {
    background-color: #40C4FF
}

.darkblue1 1 {
    background-color: #fff;
    border: 2px solid #01579B
}

.darkblue1 :hover {
    border: 3px solid #01579B
}

.darkblue1 :focus {
    background-color: #01579B
}

.yellow1  {
    background-color: #fff;
    border: 2px solid #FFCA28
}

.yellow1 :hover {
    border-radius: 3px solid #FFCA28
}

.yellow1 :focus {
    background-color: #FFCA28
}

.item-size1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid grey;
    color: grey;
    font-size: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.rating-star {
    font-size: 10px !important
}

.rating-number {
    font-size: 10px;
    color: #000
}

.buy {
    font-size: 12px;
    color: #333;
    font-weight: 500
}

.voutchers {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    display: none;
}

.voutcher-divider {
    display: flex
}

.voutcher-left {
    width: 60%
}

.voutcher-name {
    color: grey;
    font-size: 9px;
    font-weight: 500
}

.voutcher-code {
    color: red;
    font-size: 11px;
    font-weight: bold
}

.voutcher-right {
    width: 40%;
    background-color: #0086FF;
    color: #fff
}

.discount1-percent {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 5px
}

.off {
    font-size: 14px;
    position: relative;
    bottom: 5px
}
@media (max-width: 990px){
	.baloes {
	    display: none;
	}
}
.pt-1{
    color: #6CC947;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #6CC947;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.product-detail-container1 {align-items: center;
    text-align: center;}
.product-detail-container1 h4{
        font-size: 18px;
}
.product-detail-container1 p{
        font-size: 18px;
}
.product-detail-container1 s{
        margin-right: 15px;
}
.first1 i{color: #fff;}

.btn{
    background-color: #333;
        border-color: #333;
}
</style>



<!-- TITULO -->
<div class="jj" style="margin-left: 5%; margin-right: 5%; margin-top: 0px;">
    <h1 class="right ">Cooorre que é só hoje</h1>
   
<!-- Balões -->
    <div class="left tempo">
		<div class="baloes">
			<div class="container">
				  <div class="balloon white">
				    <div class="star-red"></div>
				  <div class="face">
				    <div class="eye"></div>
				    <div class="mouth happy"></div>
				  </div>
				  <div class="triangle"></div>
				  <div class="string"></div>
				</div>
				<div class="balloon red">
				  <div class="star"></div>
				  <div class="face">
				    <div class="eye"></div>
				    <div class="mouth happy"></div>
				  </div>
				  <div class="triangle"></div>
				  <div class="string"></div>
				</div>

				<div class="balloon blue">
				  <div class="star"></div>
				  <div class="face">
				    <div class="eye"></div>
				    <div class="mouth happy"></div>
				  </div>
				  <div class="triangle"></div>
				  <div class="string"></div>
				</div>
				  <div id="timer">
				    <div class="days"> 
				  <div class="numbers">{{hour}}</div>Horas</div> 
				<div class="hours">
				  <div class="numbers">{{minute}}</div>Min</div> 
				<div class="minutes"> 
				  <div class="numbers">{{second}}</div>Seg</div>
				  </div>
			          
			</div>
		</div>
	</div>
    <hr style="clear:both;"/>
</div>



    <!-- CARDS LINE 1-->
<div class="container1 mt-5">
    <div class="row" style="margin: auto;">
        <div class="col-md-3">
            <div class="card1">
                <div class="image-container1">
                    <div class="first1">
                        <div class="d-flex justify-content-between align-items-center"> <span class="discount1">-25%</span> <span class="wishlist1"><i class="fa fa-heart"></i></span> </div>
                    </div> <img src="https://www.lapolar.cl/dw/image/v2/BCPP_PRD/on/demandware.static/-/Sites-master-catalog/default/dw6f66f650/images/large/2CC23443325.JPG?sw=1200&sh=1200&sm=fit" class="img-fluid rounded thumbnail-image1">
                </div>
                <div class="product-detail-container1 p-2">
                     <div class="thumb-content">
                  <h4>Sony Headphone</h4>  
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add ao Carrinho</a>
                </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card1 voutchers">
                    <div class="voutcher-divider">
                        <div class="voutcher-left text-center"> <span class="voutcher-name">Monday Happy</span>
                            <h5 class="voutcher-code">#MONHPY</h5>
                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount1-percent">20%</h5> <span class="off">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="image-container1">
                    <div class="first1">
                        <div class="d-flex justify-content-between align-items-center"> <span class="discount1">-25%</span> <span class="wishlist1"><i class="fa fa-heart"></i></span> </div>
                    </div> <img src="https://www.lapolar.cl/dw/image/v2/BCPP_PRD/on/demandware.static/-/Sites-master-catalog/default/dw6f66f650/images/large/2CC23443325.JPG?sw=1200&sh=1200&sm=fit" class="img-fluid rounded thumbnail-image1">
                </div>
                <div class="product-detail-container1 p-2">
                     <div class="thumb-content">
                  <h4>Sony Headphone</h4>  
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add ao Carrinho</a>
                </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card1 voutchers">
                    <div class="voutcher-divider">
                        <div class="voutcher-left text-center"> <span class="voutcher-name">Payday Surprise</span>
                            <h5 class="voutcher-code">#SRPSPYDY</h5>
                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount1-percent">20%</h5> <span class="off">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="image-container1">
                    <div class="first1">
                        <div class="d-flex justify-content-between align-items-center"> <span class="discount1">-25%</span> <span class="wishlist1"><i class="fa fa-heart"></i></span> </div>
                    </div> <img src="https://www.havan.com.br/media/catalog/product/cache/73a52df140c4d19dbec2b6c485ea6a50/m/a/mala-de-viagem-media-costa-rica-polo-king_212568_1.jpg" class="img-fluid rounded thumbnail-image1">
                </div>
               <div class="product-detail-container1 p-2">
                     <div class="thumb-content">
                  <h4>Sony Headphone</h4>  
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add ao Carrinho</a>
                </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card1 voutchers">
                    <div class="voutcher-divider">
                        <div class="voutcher-left text-center"> <span class="voutcher-name">first1 order</span>
                            <h5 class="voutcher-code">#HPYFRST</h5>
                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount1-percent">20%</h5> <span class="off">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="image-container1">
                    <div class="first1">
                        <div class="d-flex justify-content-between align-items-center"> <span class="discount1">-25%</span> <span class="wishlist1"><i class="fa fa-heart"></i></span> </div>
                    </div> <img src="https://www.lapolar.cl/dw/image/v2/BCPP_PRD/on/demandware.static/-/Sites-master-catalog/default/dw6f66f650/images/large/2CC23443325.JPG?sw=1200&sh=1200&sm=fit" class="img-fluid rounded thumbnail-image1">
                </div>
               <div class="product-detail-container1 p-2">
                     <div class="thumb-content">
                  <h4>Sony Headphone</h4>  
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add ao Carrinho</a>
                </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card1 voutchers">
                    <div class="voutcher-divider">
                        <div class="voutcher-left text-center"> <span class="voutcher-name">Vegetarian Food</span>
                            <h5 class="voutcher-code">#VEGANLOVE</h5>
                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount1-percent">20%</h5> <span class="off">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- CARDS LINE 2-->
<div class="container1 mt-5">
    <div class="row" style="margin: auto;">
        <div class="col-md-3">
            <div class="card1">
                <div class="image-container1">
                    <div class="first1">
                        <div class="d-flex justify-content-between align-items-center"> <span class="discount1">-25%</span> <span class="wishlist1"><i class="fa fa-heart"></i></span> </div>
                    </div> <img src="https://tiendaste-ka.com/img/p/6/7/3/673-large_default.jpg" class="img-fluid rounded thumbnail-image1">
                </div>
              <div class="product-detail-container1 p-2">
                     <div class="thumb-content">
                  <h4>Sony Headphone</h4>  
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add ao Carrinho</a>
                </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card1 voutchers">
                    <div class="voutcher-divider">
                        <div class="voutcher-left text-center"> <span class="voutcher-name">Monday Happy</span>
                            <h5 class="voutcher-code">#MONHPY</h5>
                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount1-percent">20%</h5> <span class="off">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="image-container1">
                    <div class="first1">
                        <div class="d-flex justify-content-between align-items-center"> <span class="discount1">-25%</span> <span class="wishlist1"><i class="fa fa-heart"></i></span> </div>
                    </div> <img src="https://tiendaste-ka.com/img/p/6/7/3/673-large_default.jpg" class="img-fluid rounded thumbnail-image1" class="img-fluid rounded thumbnail-image1">
                </div>
               <div class="product-detail-container1 p-2">
                     <div class="thumb-content">
                  <h4>Sony Headphone</h4>  
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add ao Carrinho</a>
                </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card1 voutchers">
                    <div class="voutcher-divider">
                        <div class="voutcher-left text-center"> <span class="voutcher-name">Payday Surprise</span>
                            <h5 class="voutcher-code">#SRPSPYDY</h5>
                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount1-percent">20%</h5> <span class="off">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="image-container1">
                    <div class="first1">
                        <div class="d-flex justify-content-between align-items-center"> <span class="discount1">-25%</span> <span class="wishlist1"><i class="fa fa-heart"></i></span> </div>
                    </div> <img src="https://tiendaste-ka.com/img/p/6/7/3/673-large_default.jpg" class="img-fluid rounded thumbnail-image1" class="img-fluid rounded thumbnail-image1">
                </div>
                <div class="product-detail-container1 p-2">
                     <div class="thumb-content">
                  <h4>Sony Headphone</h4>  
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add ao Carrinho</a>
                </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card1 voutchers">
                    <div class="voutcher-divider">
                        <div class="voutcher-left text-center"> <span class="voutcher-name">first1 order</span>
                            <h5 class="voutcher-code">#HPYFRST</h5>
                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount1-percent">20%</h5> <span class="off">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card1">
                <div class="image-container1">
                    <div class="first1">
                        <div class="d-flex justify-content-between align-items-center"> <span class="discount1">-25%</span> <span class="wishlist1"><i class="fa fa-heart"></i></span> </div>
                    </div> <img src="https://tiendaste-ka.com/img/p/6/7/3/673-large_default.jpg" class="img-fluid rounded thumbnail-image1" class="img-fluid rounded thumbnail-image1">
                </div>
               <div class="product-detail-container1 p-2">
                     <div class="thumb-content">
                  <h4>Sony Headphone</h4>  
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add ao Carrinho</a>
                </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="card1 voutchers">
                    <div class="voutcher-divider">
                        <div class="voutcher-left text-center"> <span class="voutcher-name">Vegetarian Food</span>
                            <h5 class="voutcher-code">#VEGANLOVE</h5>
                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount1-percent">20%</h5> <span class="off">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

