<!-- Start Shop Newsletter  -->
	<section class="shop-newsletter section" style="margin-bottom: 50px;">
		<div class="container">
			<div class="inner-top">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-12">
						<!-- Start Newsletter Inner -->
						<div class="inner">
							<p> quer ficar por dentro das <span>melhooores ofertas?</span>  então você tá no lugar certo! deixa seu e-mail aqui, a gente te conta 🙂 </p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Seu endereço de email" required="" type="email">
								<button class="btn">Inscrever-se</button>
							</form>
						</div>
						<!-- End Newsletter Inner -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Newsletter -->