 <style type="text/css">
 	.jj .right{
        font-family: system-ui;
  color: #333;
  text-align:left;float:left;
  
    }
   .jj .left{
        font-family: system-ui;
  color: #F80032;
  text-align:right;float:right;
 
    }
    .jj h1{    font-size: 31px;
    text-transform: uppercase;
    font-weight: bold;}
    
    .jj .tempo{    position: absolute;
    right: 0%;
        margin-top: -76px;}
 </style>

 <style>
body {
  background: #e2eaef;
  font-family: "Open Sans", sans-serif;
}
h2 {
  color: #000;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 60px;
}
h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  border-radius: 1px;
  background: #6CC947 ;
  left: 0;
  right: 0;
  bottom: -20px;
}
.carousel {
  margin: 10px auto;
  padding: 0 70px;
}
.carousel .item {
  color: #747d89;
  min-height: 325px;
  text-align: center;
  overflow: hidden;
}
.carousel .thumb-wrapper {
  padding: 25px 15px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
  height: 120px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
.carousel .item img { 
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.carousel .item h4 {
  font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
  margin-bottom: 5px;
}
.carousel .thumb-content .btn {
  color: #6CC947 ;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #6CC947 ;
  padding: 6px 14px;
  margin-top: 5px;
  line-height: 16px;
  border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
  color: #fff;
  background: #6CC947 ;
  box-shadow: none;
}
.carousel .thumb-content .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.carousel .item-price {
  font-size: 13px;
  padding: 2px 0;
}
.carousel .item-price s {
  opacity: 0.7;
  margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
  height: 44px;
  width: 40px;
  background: #6CC947 ;  
  margin: auto 0;
  border-radius: 4px;
  opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  background: #78bf00;
  opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: #fff;
  text-shadow: none;
  font-weight: bold;
}
.carousel-control-prev i {
  margin-left: -2px;
}
.carousel-control-next i {
  margin-right: -4px;
}   
.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
  border: none;
}
.carousel-indicators li { 
  background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {  
  background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
  cursor: pointer;
  font-size: 16px;
  color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
  color: #ff6161;
}
.star-rating li {
  padding: 0;
}
.star-rating i {
  font-size: 14px;
  color: #ffc000;
}
</style>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<!-- TITLE -->
<div class="jj" style="margin-left: 5%; margin-right: 5%; margin-top: 20px; display: flex;">
    <h1 class="right ">Melhores produtos</h1>
</div>


<!-- Slide PRoducts -->
<div class="container-xl" style="margin-bottom: -20px;">
  <div class="row">
    <div class="col-md-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>   
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="item carousel-item active">
          <div class="row">
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="https://images.philips.com/is/image/PhilipsConsumer/TASH402LF_00-IMS-en_IQ?$jpglarge$&wid=960" class="img-fluid" alt="">                 
                </div>
                <div class="thumb-content">
                  <h4>Apple iPad</h4>                 
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <p class="item-price"><s>$400.00</s> <b>$369.00</b></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="https://falabella.scene7.com/is/image/Falabella/14900282_1?wid=800&hei=800&qlt=70" class="img-fluid" alt="Headphone">
                </div>
                <div class="thumb-content">
                  <h4>Sony Headphone</h4>                 
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <p class="item-price"><s>$25.00</s> <b>$23.99</b></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>    
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="https://friopecas.vteximg.com.br/arquivos/ids/179312-1000-1000/130489.jpg?v=637401835933970000" class="img-fluid" alt="Macbook">
                </div>
                <div class="thumb-content">
                  <h4>Macbook Air</h4>                  
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                    </ul>
                  </div>
                  <p class="item-price"><s>$899.00</s> <b>$649.00</b></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>                
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="https://m.media-amazon.com/images/I/91xpfnI+9KL._AC_SX679_.jpg" class="img-fluid" alt="Nikon">
                </div>
                <div class="thumb-content">
                  <h4>Nikon DSLR</h4>                 
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <p class="item-price"><s>$315.00</s> <b>$250.00</b></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>
          </div>
        </div>
        <div class="item carousel-item">
          <div class="row">
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="https://falabella.scene7.com/is/image/Falabella/15192938_1?wid=800&hei=800&qlt=70" class="img-fluid" alt="Play Station">
                </div>
                <div class="thumb-content">
                  <h4>Sony Play Station</h4>
                  <p class="item-price"><s>$289.00</s> <span>$269.00</span></p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="https://i.blogs.es/86b11e/ps51/1366_2000.jpeg" class="img-fluid" alt="Macbook">
                </div>
                <div class="thumb-content">
                  <h4>Macbook Pro</h4>
                  <p class="item-price"><s>$1099.00</s> <span>$869.00</span></p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="/examples/images/products/speaker.jpg" class="img-fluid" alt="Speaker">
                </div>
                <div class="thumb-content">
                  <h4>Bose Speaker</h4>
                  <p class="item-price"><s>$109.00</s> <span>$99.00</span></p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="/examples/images/products/galaxy.jpg" class="img-fluid" alt="Galaxy">
                </div>
                <div class="thumb-content">
                  <h4>Samsung Galaxy S8</h4>
                  <p class="item-price"><s>$599.00</s> <span>$569.00</span></p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>            
          </div>
        </div>
        <div class="item carousel-item">
          <div class="row">
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="/examples/images/products/iphone.jpg" class="img-fluid" alt="iPhone">
                </div>
                <div class="thumb-content">
                  <h4>Apple iPhone</h4>
                  <p class="item-price"><s>$369.00</s> <span>$349.00</span></p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="/examples/images/products/canon.jpg" class="img-fluid" alt="Canon">
                </div>
                <div class="thumb-content">
                  <h4>Canon DSLR</h4>
                  <p class="item-price"><s>$315.00</s> <span>$250.00</span></p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="/examples/images/products/pixel.jpg" class="img-fluid" alt="Pixel">
                </div>
                <div class="thumb-content">
                  <h4>Google Pixel</h4>
                  <p class="item-price"><s>$450.00</s> <span>$418.00</span></p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>  
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                <div class="img-box">
                  <img src="/examples/images/products/watch.jpg" class="img-fluid" alt="Watch">
                </div>
                <div class="thumb-content">
                  <h4>Apple Watch</h4>
                  <p class="item-price"><s>$350.00</s> <span>$330.00</span></p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>            
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    </div>
  </div>
</div>
                                 